In [20]:
import pandas as pd
import matplotlib.pyplot as plt # this is used for the plot the graph 
plt.rcParams["figure.figsize"] = (20,10)

In [21]:
df = pd.read_excel('data.xlsx')
df.head()

,Unnamed: 0,Province,City,River,Basin,Surface,Time,Water Quality Lever,Temperature,pH,Dissolved Oxygen,Potassium permanganate index,ammonia nitrogen,total phosphorus,conductivity\n,turbidity\n,Total Nitrogen(last Surface),Season,Month,total nitrogen
0,458,河北省,石家庄市,滹沱河,海河流域,岗南水库,2020-11-08 08:00:00,Ⅱ,17.1,8.56,9.12,2.31,0.06,0.022,572.5,2.8,4.20,Fall,11,2.54
1,463,河北省,石家庄市,滹沱河,海河流域,岗南水库,2020-11-08 12:00:00,Ⅱ,18.2,8.58,9.24,2.32,0.06,0.006,568.7,2.4,4.58,Fall,11,2.80
2,467,河北省,石家庄市,滹沱河,海河流域,岗南水库,2020-11-08 16:00:00,Ⅱ,18.1,8.59,9.28,2.33,0.06,0.018,568.3,2.6,4.56,Fall,11,2.65
3,472,河北省,石家庄市,滹沱河,海河流域,岗南水库,2020-11-08 20:00:00,Ⅱ,17.5,8.58,9.15,2.23,0.06,0.020,571.7,2.7,4.54,Fall,11,2.59
4,478,河北省,石家庄市,滹沱河,海河流域,岗南水库,2020-11-09 00:00:00,Ⅱ,17.0,8.58,9.16,2.28,0.06,0.020,574.6,3.2,4.48,Fall,11,2.58

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2627 non-null   int64
 1   Province                      2627 non-null   object
 2   City                          2627 non-null   object
 3   River                         2627 non-null   object
 4   Basin                         2627 non-null   object
 5   Surface                       2627 non-null   object
 6   Time                          2627 non-null   datetime64[ns]
 7   Water Quality Lever           2627 non-null   object
 8   Temperature                   2627 non-null   float64
 9   pH                            2627 non-null   float64
 10  Dissolved Oxygen              2627 non-null   float64
 11  Potassium permanganate index  2605 non-null   float64
 12  ammonia nitrogen              2619 non-null   float64
 13  total phosphorus              2622 non-null   float64
 14  conductivity
                 2627 non-null   float64
 15  turbidity
                    2627 non-null   float64
 16  Total Nitrogen(last Surface)  2627 non-null   float64
 17  Season                        2627 non-null   object
 18  Month                         2627 non-null   int64
 19  total nitrogen                2627 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(7)
memory usage: 410.6+ KB

In [23]:
df.columns

Index(['Unnamed: 0', 'Province', 'City', 'River', 'Basin', 'Surface', 'Time',
       'Water Quality Lever', 'Temperature', 'pH', 'Dissolved Oxygen',
       'Potassium permanganate index', 'ammonia nitrogen', 'total phosphorus',
       'conductivity\n', 'turbidity\n', 'Total Nitrogen(last Surface)',
       'Season', 'Month', 'total nitrogen'],
      dtype='object')

In [24]:
print(df['Season'].unique())
mapping_season = {
    'Fall':0, 'Winter':1, 'Spring':2, 'Summer':3
}
df = df.replace({"Season": mapping_season})

['Fall' 'Winter' 'Spring' 'Summer']

drawing the correlation matrix

In [25]:
import seaborn as sns
sns.set(rc={'figure.figsize':(12,9)})
correlation = df.corr()[:, 1:]
sns.heatmap(correlation, annot=True) # use seaborn to draw the confusion matrix

ValueError: could not convert string to float: '河北省'

The features that have a relevant correlation with the "total nitrogen" feature are :
* Temperature -> -0.6
* pH -> -0.52
* Potassium permanganate index -> 0.44
* Season -> -0.38<br>
we also take the 'Time' feature and the target value which is 'total nitrogen'